<div class="row">
  <div class="col-md-9">
    <div class="list-group list-group-horizontal-md mt-3">
      <% @friends.each do |friend| %>
        <div id="friend-<%= friend.id %>">
          <%= render partial: 'friend', locals: { friend: friend } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
