@import 'bootstrap/dist/css/bootstrap';

html {
  box-sizing: border-box;
}

*::before,
*,
*::after {
  box-sizing: inherit;
}

.results-block {
  display: inline-block;
}

.table-box {
  overflow: auto;
}

