@import 'bootstrap/dist/css/bootstrap';

html {
  box-sizing: border-box;
}

*::before,
*,
*::after {
  box-sizing: inherit;
}

.results-block {
  display: inline-block;
}

.table-box {
  overflow: auto;
}

.updated {
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-name: flashy;
}

@keyframes flashy {
  0% {
    background-color: white;
  }

  50% {
    background-color: yellow;
  }

  100% {
    background-color: white;
  }
}

